.metademands_tickettask {
    padding: 5px;
    border: solid 1px #D5D5D5;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.informations a[target="_blank"]::before {
    font-family: tabler-icons;
    content: "îª™";
    padding-right: 4px;
}

.metademands_show_values {
    padding: 10px;
    margin: 0px 0px 10px 0px;
    border: solid 1px #D5D5D5;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}

.metademands_show_custom_fields {
    margin-left: auto;
    margin-right: auto;
    /*width: 60%;*/
    /*border-bottom: 1px dashed black;*/
}

.metademands_show_custom_fields td {
    width: 50%;
}

.metademands_duplication {
    padding: 5px;
    font-weight: bold;
    color: red;
    margin-bottom: 10px;
}

.metademands_wizard_rank {
    max-width: 1250px;
    margin: 10px auto 50px !important;
    display: block;
    position: relative;line-height: 1.4em;
}


.metademands_wizard_title {
    font-size: 18px;
    text-align: center;
    margin-bottom: 0px;
    color: black;
}

.metademands_wizard_img {
    vertical-align: middle;
}

.metademands_wizard_button {
    height: 35px;
    border-top: 2px outset black;
}

.metademand_previous_button {
    float: left;
    margin: 10px;
}

a.metademand_middle_button {
    position: relative;
    left: 50%;
}

/* Hide all steps by default: */
.tab-sc {
    display: none;
}

@media (max-width: 768px) {
    a.metademand_middle_button {
        display: none;
    }
}

.metademand_next_button {
    float: right;
}

.metademands_tree {
    border-bottom: 1px solid #888888;
    border-left: 1px solid #888888;
    float: left;
    height: 10px;
    width: 10px;
    margin-right: 5px;
}

.metademand_metademandtasks {
    background-color: #aaccf6;
}

.metademand_metademandfollowup_grey {
    background-color: #D5D5D5;
}

.metademand_metademandfollowup_red {
    background-color: #cf9b9b;
}

.metademands_wizard {
    margin: 0 auto;
    display: table;
    padding: 5px;
    text-align: left;
    font-size: 14px;
    width: 900px;
    background-color: #fff;
}

.metademands_wizard_form {
    width: auto;
    margin: 0 auto;
}

.metademands_wizard_form td {
    padding: 5px;
}

.metademands_wizard_red {
    margin-left: 5px;
    color: red;
}

.metademands_wizard_comments {
    font-size: 9px;
    color: red;
    font-style: italic;
}

.metademands_wizard_border {
    border-bottom: #CCC;
    border-bottom-style: solid;
    margin-bottom : 10px;
}

.metademands_wizard_label2 {
    background-color: antiquewhite;
    margin-top : 10px;
    font-size: 13px;
    border: 1px #CCC dashed;
    padding-left: 5px;
}


.metademands_wizard_informations {
    margin-top : 10px!important;
    font-size: 13px;
    border: 1px #CCC dashed;
    padding-left: 5px;
}

.metademands_img img {
    vertical-align: middle;
    border-style: none;
    max-width: 100%;
    /*width: 100%;*/
}

.basket-data {
    margin-bottom: 15px;
    padding: 0.5rem 0.5rem;
}

@media (min-width: 1600px) {
    .basket-data {
        min-width: 550px;
    }
}


.basket-title {
    margin-bottom: 5px !important;
}

button.clear-basket {
    color: #CCC;
    border: none;
    background: none;
}

.speech {
    position: relative;
    /*max-width: 30em;*/
    margin: 5px;
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 12px;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    /* float: left; */
    display: inline-block;
    vertical-align: top;
    margin-top: 15px;
}

.mydraft {
    float: right;
    color: #898787;
}

.mydraft-text {
    margin-top: 15px;
    color: #949191;
    font-size: 12px;
}

.mydraft-fa {
    /*color: #FFF;*/
}

.mydraft-comment {
    color: #949191;
    font-size: 11px;
}

.input-draft {
    position: absolute;
    right: 0;
    display: table;
    border-collapse: separate;
    float: right;
    z-index: 2;
}

.draft {
    position: relative;
    width: 300px;
    margin: 1%;
    background-color: #fff;
    padding: 1.125em 1.5em;
    font-size: 12px;
    border-radius: 1rem;
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, .3), 0 0.0625rem 0.125rem rgba(0, 0, 0, .2);
    /* float: left; */
    display: table-cell;
    vertical-align: top;
    margin-top: 15px;
}

.draft::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    /*left: 1.5em;*/
    right: 25px;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.draftcloseButton {
    position: absolute;
    right: 5px;
    border: 0;
    background-color: #FFF;
    font-size: 9px;
    top: 5px;
}

.speech::before {
    content: '';
    position: absolute;
    width: 0;
    height: 0;
    bottom: 100%;
    left: 1.5em;
    border: .75rem solid transparent;
    border-top: none;
    border-bottom-color: #fff;
    filter: drop-shadow(0 -0.0625rem 0.0625rem rgba(0, 0, 0, .1));
}

.speechcloseButton {
    position: absolute;
    right: 5px;
    border: 0;
    background-color: #FFF;
    font-size: 9px;
    top: 5px;
}

.titlespeech {
    margin-right: 5px;
    font-weight: bold;
}

.tooltip_group_text {
    margin-left: 90px;
}

.preview-md {
    position: relative;
}

/*.select2-selection.select2-selection--single, .select2-container .select2-selection.select2-selection--single, .select2-container .select2-selection.select2-selection--single {*/
/*    width: 100% !important;*/
/*    max-width:100%!important*/
/*}*/

.md-title {
    /*margin-top: 10px!important;*/
}

.md-bottom {
    margin-bottom: 10px;
}

/* step  by step */
.tab-step {
    display: none;
}

.alertelt .alertelttext {
    visibility: hidden;
    color: red;
    text-align: left;
    padding-top: 5px;
    z-index: 1;
}

.alertelt.active .alertelttext {
    visibility: visible;
}

.buttonelt-title {
    word-wrap: break-word;
    white-space: pre-wrap;
    padding-top: 10px!important;
    font-weight: unset;
}

input.invalid {
    background-color: #ffdddd!important;
}

.invalid + .select2-container,
textarea.invalid,
.invalid + .form-select[multiple],
.invalid + .form-select[size]:not([size="1"]) {
    border-color: #dc3545;
    box-shadow: 0 0 0 0.2rem rgba(220, 53, 69, 0.25);
}


/* Make circles that indicate the steps of the form: */
.step_wizard {
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--tblr-gray-500);
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.step_wizard.active {
    opacity: 1;
}

.mt-2 {
    margin-top: unset!important;
}

.timeline-item.ITILInterticketfollowup .timeline-content, .timeline-item.ITILInterticketfollowup .timeline-content {
    background-color: #E8DCCA;
    color: #425B64;
    border-color: #ccc;
    /*background-image: url(../pics/timeline/followup.png);*/
    background-repeat: no-repeat;
}

.itil-footer .action-interticketfollowup {
    background-color: #E8DCCA;
    color: #425b64;
}

.timeline-item.PluginMetademandsInterticketfollowup  .timeline-content {
    background-color: #E8DCCA;
    color: #425B64;
    border-color: #E8DCCA;
    border-left: 1em transparent solid;
}
.tab_cadre_fixe .styleLargeTitle, .tab_cadre_navigation_center .styleLargeTitle {
    font-size: 18px;
}

.tab_cadre_navigation_center {
    margin: 10px auto 5px auto;
    padding: 4px;
    border: 1px solid #aaaaaa;
    background-color: #ffffff;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}

.metademand-label {
    font-size: 1em!important;
    line-height: 32px!important;
    /*font-weight: bold!important;*/
}

.md-color:before {
    opacity: 0.1;
}

#backtotop {
    display: inline-block;
    background-color: #02509b;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 4px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    transition: background-color .3s,
    opacity .5s, visibility .5s;
    opacity: 0;
    visibility: hidden;
    z-index: 1000;
}
#backtotop::after {
    content: "\f077";
    font-family: FontAwesome;
    font-weight: normal;
    font-style: normal;
    font-size: 2em;
    line-height: 50px;
    color: #fff;
}
#backtotop:hover {
    cursor: pointer;
    background-color: #333;
}
#backtotop:active {
    background-color: #555;
}
#backtotop.show {
    opacity: 1;
    visibility: visible;
}

/*Used in OrderFollowUp*/
#freeinput_table select:not(.form-control), #freeinput_table input:not(.submit):not(.form-control):not([type=submit]):not([type=color]):not([type=reset]):not([type=checkbox]):not([type=radio]):not(.select2-search__field):not(.numInput):not(.tox-textfield) {
    width: 100%;
}

.boutons_draft {
    text-align : center;
}

.boutons_draft .update_draft,
.boutons_draft .delete_draft{
    margin: 20px;
    font-size: 15px;
}
