{#
 -------------------------------------------------------------------------
 metademands plugin for GLPI
 Copyright (C) 2018-2026 by the metademands Development Team.

 https://github.com/InfotelGLPI/metademands
 -------------------------------------------------------------------------

 LICENSE

 This file is part of metademands.

 metademands is free software; you can redistribute it and/or modify
 it under the terms of the GNU General Public License as published by
 the Free Software Foundation; either version 3 of the License, or
 (at your option) any later version.

 metademands is distributed in the hope that it will be useful,
 but WITHOUT ANY WARRANTY; without even the implied warranty of
 MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 GNU General Public License for more details.

 You should have received a copy of the GNU General Public License
 along with metademands. If not, see <http://www.gnu.org/licenses/>.
 --------------------------------------------------------------------------
 #}

<div class="card mt-2">
    <div class="card-header">
        <h5 class="card-title">{{ __('Specific parameters', 'metademands') }}</h5>
    </div>
    <div class="card-body">
        <div class="row g-2 align-items-center mb-2">
            <label class="col-sm-3 col-form-label">{{ __('Display type of the field', 'metademands') }}</label>
            <div class="col-sm-3">{{ display_type_html|raw }}</div>
        </div>
    </div>
</div>
{% if show_switch_warning %}
    <div class="alert alert-warning mt-2">
        {{ __("Warning: switch mode don't support mandatory field check", 'metademands') }}
    </div>
{% endif %}
