.metademands_tickettask {
   padding:5px;
   border: solid 1px #D5D5D5;

   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.metademands_show_values {
   padding:10px;
   margin:0px 0px 10px 0px;
   border: solid 1px #D5D5D5;

   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
}

.metademands_show_custom_fields{
   margin-left: auto;
   margin-right: auto;
   /*width: 60%;*/
}

.metademands_show_custom_fields td{
   width: 50%;
}

.metademands_duplication {
   padding:5px;
   font-weight: bold;
   border: solid 2px #D5D5D5;
   -moz-border-radius: 5px;
   -webkit-border-radius: 5px;
   border-radius: 5px;
   color:red;
   margin-bottom: 10px;
}

.metademands_wizard_rank{
    margin: 0 auto;
    padding: 5px;
    border: 1px solid #ccc;

    text-align: left;
    font-size: 14px;
    /*z-index:1;
    width:900px;*/
    background-color: #ffffff;

    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;

    /*-moz-box-shadow: 0px 2px 5px #666;
    -webkit-box-shadow: 0px 2px 5px #666;
    box-shadow: 0px 2px 5px #666;*/
}

.metademands_wizard_title {
   font-size: 18px;
   text-align: center;
   margin-bottom: 0px;
   color:black;
}

.metademands_wizard_img{
   vertical-align : middle;
}

.metademands_wizard_button {
   height: 35px;
   border-top: 2px outset black;
}

.metademand_previous_button{
   float:left;
}

.metademand_next_button{
   float:right;
}

.metademands_tree {
   border-bottom:1px dotted #888888;
   border-left:1px dotted #888888;
   float:left;
   height:10px;
   width:10px;
   margin-right:5px;
}

.metademand_metademandtasks{
   background-color: #aaccf6;
}

.metademand_metademandfollowup_grey{
   background-color: #D5D5D5;
}

.metademand_metademandfollowup_red{
   background-color: #cf9b9b;
}

.metademands_wizard{
   margin: 0 auto;
   display:table;
   padding: 5px;
   text-align: left;
   font-size: 14px;
   width: 900px;
   background-color: #fff;
}

.metademands_wizard_form{
   width:auto;
   margin: 0 auto;
}

.metademands_wizard_form td{
   padding: 5px;
}

.metademands_wizard_red{
   margin-left: 5px;
   color:red;
}

.metademands_wizard_comments{
   font-size: 9px;
   color:red;
   font-style: italic;
}

.metademands_img img {
   vertical-align: middle;
}

.table-basket {
   margin-left: auto;
   margin-right: auto;
   border: 1px solid #ced4da;
}

.basket-th {
   padding: 15px;
   text-align: center;
   border-bottom: 1px solid #ced4da;
}

.basket-delete-th {
   padding: 15px;
   border-left: 1px solid #ced4da;
   background-color: white !important;
   border-bottom: 1px solid #ced4da;
}

.basket-label {
   background-color: #ced4da;
}

.basket-title {
   margin: 5px 0 5px 3px;
   font-size: 20px;
}

.table-basket td {
   padding : 15px;
   text-align: center;
}

.delete-line-basket {
   background-color: whitesmoke !important;

}